@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

:root {
  --primary-color: #5d3fd3;
  --primary-text-color: #000000;
  --secondary-text-color: #71767b;
  --button-text-color: #ffffff;
  --light-color: #f5f5f5;
  --heading-font-size: 1.7rem;
  --text-font-size: 0.9rem;
  --small-text-font-size: 0.8rem;
}

form input,
label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: var(--small-text-font-size);
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: -2rem;
}

form input {
  width: 100%;
  padding: 0.6rem;
  border: 2px solid var(--light-color);
  border-radius: 0.5rem;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  width: max-content;
}

.description h1 {
  font-size: var(--heading-font-size);
}

.description p {
  font-size: var(--text-font-size);
  color: var(--secondary-text-color);
}

button {
  width: 100%;
  background-color: var(--primary-color);
  padding: 0.7rem;
  border-radius: 0.5rem;
  border: none;
  color: var(--button-text-color);
}

button:hover {
  cursor: pointer;
}
