* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

:root {
  --primary-color: #1f80e0;
  --primary-text-color: black;
  --secondary-text-color: rgb(113, 118, 123);
  --button-text-color: white;
}

form input,
label {
  display: block;
  margin-bottom: 0.3rem;
}

form {
  width: 25rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

form input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--secondary-text-color);
  border-radius: 0.5rem;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

.description p {
  color: var(--secondary-text-color);
}

button {
  width: 100%;
  background-color: var(--primary-color);
  padding: 0.7rem;
  border-radius: 0.5rem;
  border: none;
  color: var(--button-text-color);
}
