.window {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  align-items: center;
  row-gap: 3rem;
  flex-direction: column;
  min-width: 25rem;
  border: 2px solid black;
  color: var(--primary-text-color);
}

.allSteps {
  width: 25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 2rem;
  color: var(--secondary-text-color);
}

.step {
  background-color: var(--primary-color);
  color: white;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
