.window {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  align-items: center;
  row-gap: 3rem;
  flex-direction: column;
  width: 20rem;
  border: 2px solid black;
  color: var(--primary-text-color);
  flex-wrap: nowrap;
}

.userProgress {
  width: 100%;
  position: relative;
}

.progressBar {
  width: 100%;
  height: 1.6px;
  position: absolute;
  margin-top: -1.2rem;
  -webkit-appearance: none;
  appearance: none;
}

.progressBar::-webkit-progress-bar {
  background-color: var(--light-color);
}

.progressBar::-webkit-progress-value {
  background-color: var(--primary-color);
}

.allSteps {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
  color: var(--secondary-text-color);
}

.step {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border: 2px solid var(--light-color);
  background-color: white;
}

.activeStep {
  background-color: var(--primary-color);
  color: white;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
